
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table id="tbltest">
    <thead>
        <tr>
            <th>Id</th>
            <th>Id</th>
            <th>Id</th>
            <th>Id</th>
            <th>Id</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Id</td>
            <td>Id</td>
            <td>Id</td>
            <td>Id</td>
            <td>Id</td>

        </tr>
        <tr>
            <td>Id</td>
            <td>Id</td>
            <td>Id</td>
            <td>Id</td>
            <td>Id</td>

        </tr>
    </tbody>
    
</table>

<script>
    $(document).ready(function () {
        $("#tbltest").DataTable();
    });
</script>